body {
  background-color: #050505;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  text-rendering: optimizeLegibility;
  text-align: center
}

h1 {
  color: #FCD3BB;
  margin: 0;
  padding: 300px auto auto auto
}
p { margin-top: 6px }
  
a:link {
  color: powderblue;
  background-color: transparent;
  text-decoration: none;
  transition: color 0.5s, background-color 0.5s
}
a:visited {
  color: lightcoral;
  background-color: transparent;
  text-decoration: none
}
a:hover {
  color: #7871AA;
  background-color: #171717;
  text-decoration: underline
}