.main { padding: 40px }
.footer { text-align: center }

body {
  background-color: #050505;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  text-rendering: optimizeLegibility;
  justify-content: center;
  max-width: 100%;
  width: 800px;
  margin: 0 auto;
  padding: 0
}

/* Headers for friend entries */
#mayoheader {
    margin: 0;
    background-image: -webkit-linear-gradient(left, #9649ad, #2f00a6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
  }
#papheader {
  margin: 0;
  background-image: -webkit-linear-gradient(left, #88074e, #fd074e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

/* Image attribute modifiers for friend pictures */
#mayo {
    background-color: #3b116850;
    border-style: dotted;
    border-color: #B6B6B6;
    display: flex;
    float: right;
    width: 23%;
    margin: 5px 10px 0px 10px
  }
#pappy {
  background-color: #f8074e50;
  border-style: dotted;
  border-color: #B6B6B6;
  display: flex;
  float: right;
  width: 23%;
  margin: 5px 10px 0px 10px
}

p { margin: 6px auto 6px auto }
a:link {
  color: powderblue;
  background-color: transparent;
  text-decoration: none;
  transition: color 0.5s, background-color 0.5s
}
a:visited {
  color: lightcoral;
  background-color: transparent;
  text-decoration: none
}
a:hover {
  color: #7871AA;
  background-color: #171717;
  text-decoration: underline
}