.main { padding: 40px }
.footer { text-align: center }

body {
  background-color: #050505;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  text-rendering: optimizeLegibility;
  justify-content: center;
  max-width: 100%;
  width: 800px;
  margin: 0 auto;
  padding: 0
}

iframe { padding: 8px 4px 8px 4px }
p { margin: 6px auto 6px auto }
abbr {
  cursor: help;
  text-decoration: underline;
  text-decoration-color: #B6B6B6;
  text-decoration-style: dotted
}

a:link {
  color: powderblue;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: lightcoral;
  background-color: transparent;
  text-decoration: none
}
a:hover {
  color: #7871AA;
  background-color: #171717;
  text-decoration: underline
}