h1 {
  background-image: -webkit-linear-gradient(left, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0
}

span {
  font-style: italic;
  font-size: 0.67em;
  color: #777777;
  margin: 0px auto auto auto
}

.archives {
  border-style: double;
  margin: 1em 0
}
.projectlist {
  border-style: dashed;
  padding: 6px
}

.container {
  border-color: #808080;
  background-color: #333;
  display: flex;
  justify-content: center;
}