.main { padding: 40px }
.footer { text-align: center }

body {
  background-color: #050505;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  text-rendering: optimizeLegibility;
  justify-content: center;
  width: 800px;
  margin: 0 auto;
  padding: 0
}

h1 {
  background-image: -webkit-linear-gradient(left, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
h2 { margin: 0 }
iframe { padding: 8px 4px 8px 4px }
p { margin: 6px auto 6px auto }
abbr {
  cursor: help;
  text-decoration: underline;
  text-decoration-color: #B6B6B6;
  text-decoration-style: dotted
}
span i {
  font-size: 0.67em;
  color: #777777;
  margin: 0px auto auto auto
}

#top > h1,
#top > p { margin: 0 }

#archives {
  border-style: double;
  border-color: 303030;
  background-color: 111111;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em
}
#projectlist {
  border-style: dashed;
  border-color: 303030;
  background-color: 111111;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  padding: 6px
}
#projectlist p { margin: 3px }

a:link {
  color: powderblue;
  background-color: transparent;
  text-decoration: none;
  transition: color 0.5s, background-color 0.5s
}
a:visited {
  color: lightcoral;
  background-color: transparent;
  text-decoration: none
}
a:hover {
  color: #7871AA;
  background-color: #171717;
  text-decoration: underline
}