hr { border-color: #444444; margin: 11 10 0 0 }
ul { padding: 0 0 0 10 }
h2 { margin: 6 0 2 12 }

span {
  font-size: 0.67em;
  color: #777777;
  margin: 0px auto auto auto
}

#transrights {
  background-image: -webkit-linear-gradient(left, #5BCEFA, #F5A9B8, #FFFFFF, #F5A9B8, #5BCEFA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1em
}