.header-title {
  background-image: -webkit-linear-gradient(left, #e73c7e, #23a6d5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span {
  font-style: italic;
  font-size: 0.67em;
  color: #777777;
  margin: 0px auto auto auto
}

.projectlist {
  border-style: dashed;
  padding: 6px;
  margin: 15px 0 0 0;
}

.container {
  border-color: #808080;
  background-color: #333;
  display: flex;
  justify-content: center;
}