hr { border-color: #444444; }
ul { padding: 0; }
h2 { margin: 6 0 2 12; }
span {
  font-size: 0.67em;
  color: #777777;
  margin: 0 auto;
}
hr {
  margin: 10 auto 6 auto;
  width: 90%;
}

.hardborder {
  margin: 10 auto 10 auto;
  width: 100%;
  border-color:white;
}
.transrights {
  background-image: -webkit-linear-gradient(left, #5BCEFA, #F5A9B8, #FFFFFF, #F5A9B8, #5BCEFA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1em;
}